{{ receipt_form.csrf_token() }}
{{ receipt_form.id() }}
{{ receipt_form.transaction_id(value=transaction_id, class="form-control") }}
<div id="extra-inputs">
    {% for item in items.items() %}
    <div class="input-group my-3">
        <input class="form-control" id="i{{ loop.index }}" name="i{{ loop.index }}" placeholder="Item" required="True" type="text" value="{{ item[0] }}">
        <span for="w${numInputs}" class="input-group-text">kg/L</span>
        <input class="form-control" id="w${numInputs}" min="0" name="p1" placeholder="" style="max-width: 100px;" type="number" value="" step="0.001">
        <span id="label1" for="p{{ loop.index }}" class="input-group-text">£</span>
        <input class="form-control" id="p{{ loop.index }}" min="0" name="p{{ loop.index }}" placeholder="0.00" required="True" step="0.01" style="max-width: 100px;" type="number" value="{{ item[1] }}">
    </div>
    {% endfor %}
</div>

<div id="total" class="d-flex flex-row justify-content-end">
    <span class="fs-5">Total:&nbsp;</span>
    <span class="fs-5" id="total-amount">£0.00</span>
</div>
<div id="addRemove" class="d-flex flex-row justify-content-center">
    <button id="add-item-input" type="button" class="btn btn-primary round m-2">+</button>
    <button id="remove-item-input" type="button" class="btn btn-secondary round m-2">-</button>
</div>
{{ receipt_form.submit(class="btn btn-primary form-control my-3") }}
