{% for transaction in transactions %}
{% if loop.index % 6 != 0 %}
<div id="{{ transaction.id }}" class="transaction row mb-3">
{% else %}
<div id="{{ transaction.id }}" class="transaction row mb-3" hx-get="/transaction_feed?page={{ transactions.next_num }}" hx-trigger="revealed" hx-swap="afterend">
{% endif %}
    <div class="d-flex flex-row justify-content-between mb-2">
        <span class="d-flex flex-column">
            <span class="mb-0 fs-5">{{ transaction.merchant.name }}</span>
            <span class="mb-0 mcc">MCC: {{ transaction.merchant.mcc }}</span>
            <span class="mb-0 date">{{ transaction.datetime.strftime("%H:%M on %b %d") }}</span>
        </span>
        <span class="d-flex flex-column align-items-end float-end">
            <span class="mb-0 fs-5 float-end">{{ pence_to_pounds(transaction.amount_pence) }}</span>
            {% if transaction.co2e == None %}
                <a href="{{ url_for('get_co2e_estimate', transaction_id=transaction.id) }}" class="mb-0 fs-5 float-end estimate estimate-link">estimate</a>
            {% else %}
                <span class="mb-0 fs-5 float-end estimate">{{ transaction.co2e }}kg</span>
            {% endif %}
        </span>
    </div>
    {% if not transaction.receipt_id %}
        <a href="{{ url_for('add_receipt', transaction_id=transaction.id) }}" class="mb-0 fs-5 text-center estimate-link">add receipt</a>
    {% endif %}
</div>
{% endfor %}
