<div class="navbar navbar-expanded bg-transparent">
    <div class="container-fluid p-3">
        <a href="/" class="nav-brand fw-bold"><img src="{{ url_for('static', filename='img/GET-logo.svg') }}" alt="logo" height="100px"></a>

        <button class="navbar-toggler button-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fs-1"><i class="fa-solid fa-bars" id="burger"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto my-2 mb-lg-0">
                {% if not current_user.is_active %}
                    <a class="mx-2" href="/register">
                        <li class="nav-item container-fluid text-center fw-bold">
                            <div class="mx-3">Register</div>
                        </li>
                    </a>
                    <a class="mx-2" href="/login">
                        <li class="nav-item container-fluid text-center fw-bold">
                            <div class="mx-3">Login</div>
                        </li>
                    </a>
                {% else %}
                    <a class="mx-2" href="/dashboard">
                        <li class="nav-item container-fluid text-center fw-bold">
                            <div class="mx-3">Dashboard</div>
                        </li>
                    </a>
                    <a class="mx-2" href="/logout" data-toggle="tooltip" data-placement="top" title="Revokes access to your Starling account.">
                        <li class="nav-item container-fluid text-center fw-bold">
                            <div class="mx-3">Logout</div>
                        </li>
                    </a>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
