@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

#dashboard {

    .card {
        border-radius: $radius-big;
        max-width: 600px;
        @include box-shadow;
    }

    #tracking {

        max-width: fit-content;

        .row {
            height: fit-content;
        }
        
        .col {
    
            font-family: 'Alfa Slab One', cursive;
            @include center;
            color: $dark;
            border: 1px solid $primary;
            border-radius: 10px;
            margin: 2px;
            position: relative;
    
            .title {
                position: absolute;
                top: 50px;
                left: 50px;
            }
    
            .mid-unit,
            .big-unit {
                display: flex;
                height: 100%;
                justify-content: end;
                align-items: end;
            }
    
            .big-number {
                font-size: 4rem;
            }
    
            .big-unit {
                font-size: 2rem;
            }
    
            .mid-number {
                font-size: 3rem;
            }
    
            .mid-unit {
                font-size: 2rem;
            }
        }
        
        #recent::before, #average::before, #all-time::before {
            position: absolute;
            top: 7px;
            left: 10px;
            font-family: 'Comfortaa', cursive;
        }
    
        #recent::before {
            content: "last 4 weeks";
        }
    
        #average::before {
            content: "week-on-week change";
        }
    
        #all-time::before {
            content: "all time";
        }
    
        #average, #all-time {
            padding-top: 18px;
            min-width: 200px;
        }
    }

    #feed {
        .transaction {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            
            border-radius: $radius-small;
            font-family: 'Comfortaa', cursive;
            font-size: 1.2rem;
            color: $dark;
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &::after {
                content: "";
                width: 100%;
                border-bottom: 1px solid $primary;
            }

            &:hover {
                background-color: transparentize($primary, 0.66);
            }

            .date,
            .mcc {
                font-size: 0.9rem;
            }

            .estimate {
                font-weight: bold;
                color: $secondary;
            }
            
            .estimate-link {
                @include hover-grow;
                color: $primary;
                text-decoration: underline;
                text-decoration-color: $secondary;
                cursor: pointer;
            }
        }
    }
}
