$primary: #458E23;
// $secondary: #520486;
$secondary: #d37913;
$white: #fafafa;
$light: #FFF8E7;
$dark: #222;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "light": $light,
  "white": $white
);

$radius-big: 25px;
$radius-small: 10px;